<form
  class="flex flex-column justify-content-center align-items-center w-full"
  [formGroup]="myForm"
  (ngSubmit)="onSubmit()"
>
  <div class="flex flex-column gap-2 w-5 m-2">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input class="w-full" type="text" pInputText formControlName="name" />
    </span>
  </div>
  <div class="flex flex-column">
    <app-exercise-item
      *ngFor="let exercise of fetchedExercises$ | async"
      [exercise]="exercise"
    ></app-exercise-item>
  </div>

  <button
    type="button"
    pButton
    pRipple
    label="Add Exercise"
    class="m-4"
    (click)="onSubmit()"
  ></button>
</form>
