:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    height: 100%;
    width: 100%;
    margin-top: 150px;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90dvw;
    height: 45dvh;
}

canvas {
    width: 90%  !important;
}