:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}

canvas {
    width: 85%  !important;
}