<div class="trainings-list flex flex-column align-items-center">
  <div class="flex flex-column w-full">
    <p-avatar
      class="flex align-items-center justify-content-center"
      icon="pi pi-user"
      shape="circle"
      size="xlarge"
    ></p-avatar>
    <div class="workout-details grid text-center">
      <div class="col-12 md:col-6 flex flex-column">
        <h3 class="mb-0">Date</h3>
        <p>{{ trainingDetails.trainingDate }}</p>
      </div>
      <div class="col-12 md:col-6 flex flex-column">
        <h3 class="mb-0">Volume</h3>
        <p>{{ trainingDetails.trainingVolume }}</p>
      </div>
    </div>
  </div>
  <p-divider class="w-full" layout="horizontal"></p-divider>
  <div class="w-full text-center" *ngFor="let exercise of exercisesList">
    <h3>{{ exercise.name }}</h3>
    <div class="grid">
      <div class="col-4">
        <p>Set</p>
      </div>
      <div class="col-4">
        <p>Rep</p>
      </div>
      <div class="col-4">
        <p>Weight</p>
      </div>
    </div>
    <app-training-list-item-details
      [sets]="exercise.sets"
    ></app-training-list-item-details>
    <p-divider class="w-full" layout="horizontal"></p-divider>
  </div>
</div>
