<div class="trainings-list w-full flex flex-column align-items-center">
  <div class="flex flex-column w-full">
    <p-avatar
      class="flex align-items-center justify-content-center"
      icon="pi pi-user"
      shape="circle"
      size="xlarge"
    ></p-avatar>
    <div class="workout-details flex justify-content-center gap-8">
      <div class="flex flex-column text-center">
        <h3 class="mb-0">Date</h3>
        <p>{{ trainingDate }}</p>
      </div>
      <div class="flex flex-column text-center">
        <h3 class="mb-0">Workout name</h3>
        <p>Afternoon training</p>
      </div>
      <div class="flex flex-column text-center">
        <h3 class="mb-0">Volume</h3>
        <p>880kg</p>
      </div>
    </div>
  </div>
  <p-divider class="w-full" layout="horizontal"></p-divider>
</div>
