:host {
    ::ng-deep .custom-card {
        padding: 1rem;
        cursor: pointer;

        .p-card-content {
            display: none;
        }
    }
}

:host {
    ::ng-deep .custom-card:hover {
        box-shadow:  var(--focus-ring);
        
    }
}
