<div
  class="flex flex-column w-full justify-content-center align-items-center dashboard"
>
  <div
    class="flex flex-column w-full align-items-center justify-content-center col-12 md:col-4 mt-4 mb-4"
  >
    <p-avatar
      label="U"
      pBadge
      value="4"
      size="xlarge"
      [style]="{ 'background-color': 'var(--primary-color)', color: '#ffffff' }"
    ></p-avatar>
    <h5>Jakub</h5>
  </div>

  <p-divider class="w-full"></p-divider>

  <div class="card grid w-8 mt-4 mb-4">
    <div class="col-12 md:col-6 card-wrapper">
      <p-card
        styleClass="custom-card"
        class="text-center"
        header="Statistics"
        routerLink="/statistics"
      >
      </p-card>
    </div>
    <div class="col-12 md:col-6 card-wrapper">
      <p-card
        styleClass="custom-card"
        class="text-center"
        header="Add workout"
        (click)="addNewTraining()"
      >
      </p-card>
    </div>
    <div class="col-12 md:col-6 card-wrapper">
      <p-card styleClass="custom-card" class="text-center" header="Measures">
      </p-card>
    </div>
    <div class="col-12 md:col-6 card-wrapper">
      <p-card styleClass="custom-card" class="text-center" header="Workouts">
      </p-card>
    </div>
  </div>

  <p-divider class="w-full"></p-divider>

  <div class="card flex flex-column align-items-center w-full">
    <h1>Previous trainings</h1>
    <app-trainings-list></app-trainings-list>
  </div>
</div>
