.exercise-list-item {
    background-color: var(--surface-a);
    border: 1px solid var(--surface-d);
}

.delete-set-icon {
    font-size: 1.5rem;
}

::ng-deep .p-button {
    width: 100%;
    display: flex;
    gap: .5rem;
}

