<div
  class="w-full h-full flex flex-column justify-content-center align-items-center"
>
  <h1>Sign Up</h1>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="register()"
    class="card flex flex-column justify-content-center align-items-center w-5 m-6 gap-3"
  >
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
      </span>
      <input
        [ngClass]="{
          'login-input':
            (registerForm.controls['username'].touched &&
              registerForm.controls['username'].value === '') ||
            fieldsInvalid
        }"
        pInputText
        placeholder="Username"
        formControlName="username"
      />
    </div>
    <small
      *ngIf="
        registerForm.controls['username'].touched &&
        registerForm.controls['username'].hasError('required')
      "
      id="login-help"
      class="login-help"
      >Username field is required.</small
    >
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-envelope"></i>
      </span>
      <input
        [ngClass]="{
          'login-input':
            (registerForm.controls['email'].touched &&
              registerForm.controls['email'].value === '') ||
            fieldsInvalid
        }"
        pInputText
        placeholder="Email"
        formControlName="email"
      />
    </div>
    <small
      *ngIf="
        registerForm.controls['email'].touched &&
        registerForm.controls['email'].hasError('required')
      "
      id="login-help"
      class="login-help"
      >Email field is required.</small
    >
    <small
      *ngIf="registerForm.controls['email'].hasError('email')"
      id="login-help"
      class="login-help"
      >This is not a valid email.</small
    >
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-lock"></i>
      </span>
      <input
        [ngClass]="{
          'login-input':
            (registerForm.controls['password'].touched &&
              registerForm.controls['password'].hasError('required')) ||
            fieldsInvalid
        }"
        type="password"
        pInputText
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <small
      *ngIf="
        registerForm.controls['password'].touched &&
        registerForm.controls['password'].hasError('required')
      "
      id="login-help"
      class="login-help"
      >Password field is required.</small
    >
    <small
      *ngIf="registerForm.controls['password'].hasError('minlength')"
      id="login-help"
      class="login-help"
      >Password must be at least 6 characters long.</small
    >
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-lock"></i>
      </span>
      <input
        [ngClass]="{
          'login-input':
            (registerForm.controls['passwordRepeated'].touched &&
              registerForm.controls['passwordRepeated'].hasError('required')) ||
            fieldsInvalid
        }"
        type="password"
        pInputText
        placeholder="Repeat password"
        formControlName="passwordRepeated"
      />
    </div>
    <small
      *ngIf="
        registerForm.controls['passwordRepeated'].touched &&
        registerForm.controls['passwordRepeated'].hasError('required')
      "
      id="login-help"
      class="login-help"
      >Repeat password field is required.</small
    >
    <small
      *ngIf="
        registerForm.controls['passwordRepeated'].touched &&
        registerForm.controls['passwordRepeated'].value !==
          registerForm.controls['password'].value
      "
      id="login-help"
      class="login-help"
      >Passwords are not the same.</small
    >

    <button
      [disabled]="
        !registerForm.valid ||
        registerForm.controls['passwordRepeated'].value !==
          registerForm.controls['password'].value
      "
      pButton
      pRipple
      label="Submit"
      class="p-button-success"
    ></button>
  </form>
</div>
