:host {
    height: 100dvh;
    ::ng-deep .p-dropdown {
            width: 50%;
            padding: 3%;
            background-color: var(--surface-b);
            border: 1px solid var(--surface-d);
            color: var(--highlight-text-color);
            &:hover {
            border: 1px solid var(--primary-color);
            box-shadow: var(--focus-ring);
        }
        }

    ::ng-deep .p-button {
        width: 50%;
            padding: 3%;
            background-color: var(--surface-b);
            border: 1px solid var(--surface-d);
            color: var(--highlight-text-color);
            &:hover {
            border: 1px solid var(--primary-color);
            box-shadow: var(--focus-ring);

    }
}
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90dvw;
    height: 50dvh;
}

canvas {
    width: 75%  !important;
}

@media(width <= 758px) {
    .chart-container {
        height: 35dvh;
    }
}