<div
  class="log-in-wrapper h-full flex justify-content-center align-items-center"
>
  <div class="left-col flex justify-content-center align-items-center">
    <img
      src="../../../assets/images/BFLogo.svg"
      class="body-forge-image"
      alt=""
    />
  </div>
  <div
    class="right-col flex flex-column justify-content-center align-items-center"
  >
    <h1 class="w-8 p-2">Login to your Account</h1>
    <form
      [formGroup]="logInForm"
      (ngSubmit)="logIn()"
      class="card flex flex-column justify-content-center align-items-center w-8 p-2 gap-4"
    >
      <div class="flex flex-column w-full gap-2">
        <label for="email">Email</label>
        <input
          [ngClass]="{
            'login-input':
              (logInForm.controls['email'].touched &&
                logInForm.controls['email'].value === '') ||
              fieldsInvalid
          }"
          id="email"
          placeholder="mail@xyz.com"
          pInputText
          formControlName="email"
        />
        <small
          *ngIf="
            logInForm.controls['email'].touched &&
            logInForm.controls['email'].value === ''
          "
          id="login-help"
          class="login-help"
          >Email field is required.</small
        >
      </div>
      <div class="flex flex-column w-full gap-2">
        <label for="email">Password</label>
        <input
          [ngClass]="{
            'login-input':
              (logInForm.controls['password'].touched &&
                logInForm.controls['password'].value === '') ||
              fieldsInvalid
          }"
          id="password"
          type="password"
          placeholder="••••••"
          pInputText
          formControlName="password"
        />
        <small
          *ngIf="
            logInForm.controls['password'].touched &&
            logInForm.controls['password'].value === ''
          "
          id="login-help"
          class="login-help"
          >Password field is required.</small
        >
      </div>
      <div class="w-full pt-3">
        <button
          [disabled]="!logInForm.valid"
          pButton
          pRipple
          label="Login"
          class="w-full"
        ></button>
      </div>
      <p class="pt-8">
        Not Registered Yet?
        <a [routerLink]="['/auth/register']" class="register-link w-full">
          Create an account
        </a>
      </p>
    </form>
  </div>
</div>
