.log-in-wrapper {
    background-color: var(--surface-card);
    max-height: 100vh;
}

.body-forge-image {
    width: 800px;
}

.left-col {
    box-sizing: border-box;
    height: 100%;
    width: 55%;
    background-color: var(--surface-card);
}

.right-col {
    background-color: #304562;
    height: 100%;
    width: 45%;
    border-radius: 50px;
}

h1 {
    color: white;
    font-weight: 600;
    font-size: 42px;
}

input {
    height: 50px;
}

.register-link {
    color: var(--primary-color);
    text-decoration: none;
}