:host {
    overflow-y: scroll;
    height: 1000px;
    width: 25%;
}


.trainings-list {
    padding: 2rem;
    gap: 4rem;
}

.training-list-item {
    background-color: var(--surface-a);
    border: 1px solid var(--surface-d);
    padding: 2rem;
    width: 100%;
}

:host::-webkit-scrollbar {
    width: 12px;
}

:host::-webkit-scrollbar-track {
    background-color: var(--surface-a);
    border-radius: 10px;
}

:host::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
