<div class="w-full flex justify-content-center mt-5">
  <div class="w-full">
    <div class="w-full flex justify-content-center align-items-center">
      <p-avatar
        label="P"
        styleClass="mr-2"
        size="xlarge"
        shape="circle"
      ></p-avatar>
    </div>
    <div class="w-full flex flex-column align-items-center">
      <h2>asdas</h2>
      <div class="flex justify-content-between gap-4">
        <h4>statistic</h4>
        <h4>statistic</h4>
        <h4>statistic</h4>
      </div>
    </div>
  </div>
</div>
